body {
    background: url("https://images.unsplash.com/photo-1599813391721-ed8c5fe98166?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1239&q=80") center/cover no-repeat;
    
}
img {
    display:block;
    width:20%;
    height: 35vh;
    object-fit: cover;
    object-position: 0% 15%;
    margin: 10vh auto;
}